@charset "utf-8";

:root{
    --gap-ico-setting:56px;

    /*--state-gr-color:#098684;
    --state-default-color:#FFEB60;*/

    --state-default-color:#098684;
    --state-red-color:#ED3964;
    --state-gray-color:#999999;
    --state-ylw-color:#F6AE0D;


    --state-darkgr-color:#708C7A;
}


/* reset css */
html,body{margin:0;padding:0;height:100%;min-width:320px;margin:0 auto;}
body{font:16px/1 'Noto Sans KR', 'Apple Gothic', sans-serif;color:#222;letter-spacing:-.01em;line-height:1.4}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0;}
input,textarea,select,td,th,button{font:16px/1 'Noto Sans KR', 'Apple Gothic', sans-serif;color:#222;letter-spacing:-.01em;vertical-align:middle;}
input,textarea,select{color:#222;-webkit-appearance:none;-webkit-border-radius: 0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;}
ol,ul,li{list-style:none;}
hr, legend, .hidden{position:absolute;top:0;left:-3000px;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
caption{position:relative;visibility:hidden;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
.blind{overflow:hidden;position:absolute;left:-9999px !important;top:-9999px !important}
img,fieldset{border:0 none;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
a:link,a:visited{color:#222;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
img{vertical-align:top;width:100%;}
input[type="text"]{display:block;width:100%;padding:0 10px;border:0 none;box-sizing:border-box;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
    -webkit-text-fill-color:#232323 !important;
}
input:focus{outline:0 none}

.content{min-height:calc(100% - 128px)}
header.pos_abs + .content{min-height:calc(100% - 75px)}

/*
.inp_chk{display:inline-block;position:relative;margin-right:24px;}
.inp_chk:last-child{margin-right:0;}
.inp_chk input[type=checkbox],
.inp_chk input[type=radio]{display:none;top:0;right:0;bottom:0;left:0;}
.inp_chk input[type=checkbox] + label,
.inp_chk input[type=radio] + label{position:relative;display:inline-block;padding-left:26px;line-height:20px;color:#222;font-size:16px;}
.inp_chk input[type=checkbox]+ label:before,
.inp_chk input[type=radio]+ label:before{content:'';display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url('../images/btn/btn_checkbox.svg') no-repeat 50% 50%;}
.inp_chk input[type=checkbox]:checked + label:before,
.inp_chk input[type=radio]:checked + label:before{background:url('../images/btn/btn_checkbox_active.svg') no-repeat 50% 50%;}
*/

.inp_chk{display:inline-block;position:relative;margin-right:24px;}
.inp_chk:last-child{margin-right:0;}
.inp_chk input[type=checkbox]{display:none;top:0;right:0;bottom:0;left:0;}
.inp_chk input[type=checkbox]+ label{position:relative;display:inline-block;padding-left:26px;line-height:20px;color:#222;font-size:16px;}
.inp_chk input[type=checkbox]+ label:before{content:'';display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url('../images/btn/btn_checkbox.svg') no-repeat 50% 50%;}
.inp_chk input[type=checkbox]:checked + label:before{background:url('../images/btn/btn_checkbox_active.svg') no-repeat 50% 50%;}


.inp_radio input[type=radio]{display:none;top:0;right:0;bottom:0;left:0;}
.inp_radio input[type=radio] + label{position:relative;display:inline-block;padding-left:20px;line-height:16px;margin-right:20px;}
.inp_radio input[type=radio] + label:last-child{margin-right:0;}
.inp_radio input[type=radio] + label:before{content:'';display:block;position:absolute;top:0;left:0;background-position:-5px -31px;width:16px;height:16px;}
.inp_radio input[type=radio]:checked + label:before{content:'';display:block;position:absolute;top:0;left:0;background-position:-31px -31px;width:16px;height:16px;}
.inp_radio input[type=radio] + label:before,
.inp_radio input[type=radio]:checked + label:before{background:url(https://pic.neungyule.com/myolin/m/sp_input.png) no-repeat 0 / 74px 52px;}


.header_type1{position:relative;z-index:100;display:flex;width:100%;align-items:center;justify-content:center;height:56px;padding:0 20px;box-sizing:border-box;}
.header_type1 .btn_prev{position:absolute;left:10px;top:50%;display:inline-block;width:30px;height:30px;text-indent:-9999px;background:url('../images/btn/btn_prev.svg') no-repeat 50% 50% / 10px auto;transform:translateY(-50%)}
.header_type1 .btn_home{position:absolute;left:40px;top:50%;display:inline-block;width:30px;height:30px;text-indent:-9999px;background:url('../images/btn/btn_home.svg') no-repeat 50% 50% / 18px auto;transform:translateY(-50%)}
.header_type1 .btn_next{position:absolute;right:20px;top:50%;display:inline-block;font-size:16px;color:#999;transform:translateY(-50%)}
.header_type1 .btn_next.active{color:#018975;font-weight:500}
.header_type1 .page_name{font-size:16px;font-weight:700;color:#222}
.header_type1.pos_abs .btn_prev{background:url('../images/btn/btn_prev_white.svg') no-repeat 50% 50% / 10px auto;}

.header_type2{display:flex;height:56px;padding:0 20px;align-items:center;justify-content:space-between;box-sizing:border-box;}
.header_type2 nav ul{display:flex;gap:20px;align-items:center}
.header_type2 nav li a{font-size:16px;color:#999}
.header_type2 nav li.active a{color:#222;font-size:18px;font-weight:700}

.page_nav ul{display:flex;height:40px;padding:0 20px;align-items:center;justify-content:space-between;border-bottom:1px solid #F3F3F3;}
.page_nav ul li{position:relative;/*min-width:96px*/flex:1;text-align:center}
.page_nav ul li.active:after{content:'';position:absolute;left:50%;bottom:-1px;display:inline-block;width:28px;height:3px;background:#018975;transform:translateX(-50%);}
.page_nav ul li a{display:flex;height:40px;align-items:center;justify-content:center;font-size:16px;color:#999;}
.page_nav ul li.completed a{color:#018975}
.page_nav ul li.active a{color:#222;font-weight:700}

.type_nav ul{display:flex;height:40px;padding:0 20px;align-items:center;border-bottom:1px solid #F3F3F3;}
.type_nav ul li{position:relative;text-align:center}
.type_nav ul li.active:after{content:'';position:absolute;left:50%;bottom:-1px;display:inline-block;width:28px;height:3px;background:#018975;transform:translateX(-50%);}
.type_nav ul li a{display:flex;height:40px;padding:0 15px;align-items:center;justify-content:center;font-size:16px;color:#999;}
.type_nav ul li.completed a{color:#018975}
.type_nav ul li.active a{color:#222;font-weight:700}

.gnb{position:sticky;left:0;bottom:0;z-index:100;width:100%;box-shadow:0 -5px 20px rgba(0, 0, 0, .08);background:#fff;}
.gnb ul{display:flex;/*height:88px;*/height:72px;}
.gnb ul li{flex:1}
.gnb ul li a{position:relative;display:block;height:100%;padding-top:45px;font-size:10px;color:#999;text-align:center;box-sizing:border-box;}
.gnb ul li.active a{color:#141414}
.gnb ul li a:before{content:'';position:absolute;left:50%;top:14px;display:inline-block;width:25px;height:25px;transform:translateX(-50%);background:url('../images/ico/ico_gnb_artist.svg') no-repeat}
.gnb.artist ul li:first-child a:before{background-position:0 0}
.gnb.artist ul li:nth-child(2) a:before{background-position:-25px 0}
.gnb.artist ul li:nth-child(3) a:before{background-position:-50px 0}
.gnb.artist ul li:nth-child(4) a:before{background-position:-75px 0}
.gnb.artist ul li:nth-child(5) a:before{background-position:-100px 0}
.gnb.artist ul li.active:first-child a:before{background-position:0 -25px}
.gnb.artist ul li.active:nth-child(2) a:before{background-position:-25px -25px}
.gnb.artist ul li.active:nth-child(3) a:before{background-position:-50px -25px}
.gnb.artist ul li.active:nth-child(4) a:before{background-position:-75px -25px}
.gnb.artist ul li.active:nth-child(5) a:before{background-position:-100px -25px}


.gnb.producer ul li a:before{background:url('../images/ico/ico_gnb_producer.svg') no-repeat}
.gnb.producer ul li:first-child a:before{background-position:0 0}
.gnb.producer ul li:nth-child(2) a:before{background-position:-25px 0}
.gnb.producer ul li:nth-child(3) a:before{background-position:-50px 0}
.gnb.producer ul li:nth-child(4) a:before{background-position:-75px 0}
.gnb.producer ul li:nth-child(5) a:before{background-position:-100px 0}
.gnb.producer ul li.active:first-child a:before{background-position:0 -25px}
.gnb.producer ul li.active:nth-child(2) a:before{background-position:-25px -25px}
.gnb.producer ul li.active:nth-child(3) a:before{background-position:-50px -25px}
.gnb.producer ul li.active:nth-child(4) a:before{background-position:-75px -25px}
.gnb.producer ul li.active:nth-child(5) a:before{background-position:-100px -25px}


.flex{display:flex;}
.flex_center{display:flex;align-items:center;}
.flex_column_gap{display:flex;height:100%;flex-direction:column;gap:12px;}
.mt_auto{margin-top:auto}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt25{margin-top:25px}
.pos_rel{position:relative}
.pos_abs{position:absolute;}
.mb5{margin-bottom:5px}
.ft_size_14{font-size:14px}
.ft_color_red{color:var(--state-red-color)}
.info_line_txt{display:flex;min-height:36px;padding:10px;align-items:center;justify-content:center;font-size:14px;color:#999;border:1px solid #E7E7E7;box-sizing: border-box;}
.bg_cont_gray{padding:40px 20px;background:#F3F3F3}
.cont_pd{padding:40px 20px;}

.video_box{position:relative;width:100%;height:0;padding-top:56.25%}
.video_box > iframe{position:absolute;left:0;top:0;width:100%;height:100%;}

/*popup*/
.pop_wrap{display:none;overflow-y:auto;position: absolute;bottom:0;left:0;width: 100%;min-height:360px;height: auto;background-color: #fff;z-index: 10;}
/*.pop_wrap .pop_container{overflow-y:auto;height:100%;padding:20px 25px;box-sizing:border-box;}*/
.pop_wrap .pop_head{padding:20px 25px 0 25px;text-align:right;}
.pop_wrap .pop_cont{height:100%;padding:20px 25px;}
.dim_layer{display: none;position: fixed;bottom: 0;left: 0;width: 100%;height: 100%;z-index: 100;}
.dim_layer.full .pop_wrap{height:100%}
.dim_layer .dim{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity=50);}
.dim_layer .pop_wrap {display: block;}
 
/* sweetalert2 custom */
.swal2-popup.pop_confirm{padding-bottom:0;border-radius:0;}
.pop_confirm .swal2-title{padding:30px 0 5px;font-size:16px;line-height:1.44;color:#020202}
.pop_confirm .swal2-html-container{margin:0;font-size:14px;line-height:1.44;color:#020202;}
.pop_confirm .swal2-actions{width:100%;border-top:1px solid #E7E7E7}
.pop_confirm .swal2-actions button{flex:1;height:50px;margin:0;border-radius:0;font-size:16px;color:#222;background:#fff;}
.pop_confirm .swal2-actions button:hover{background-image:none !important;}
.pop_confirm .swal2-actions button:focus{box-shadow:none !important;}
.pop_confirm .swal2-actions button.swal2-confirm{font-weight:700}

/*seletbox*/
.drop_box{position:relative;}
.drop_box .selected{display:flex;height:20px;padding:0;font-size:14px;background:#fff;border:0 none;align-items:center}
.drop_box .selected:after{content:'';display:inline-block;width:10px;height:6px;margin-left:10px;background:url('../images/ico/ico_selet_arr.svg') no-repeat 50% 50% / 100% auto}
.drop_box ul{position:absolute;right:0;top:calc(100% + 6px);}
.drop_box ul li{width:100%;border:1px solid #E0E0E0;background:#fff;}
.drop_box ul li + li{border-top:0 none}
.drop_box ul li a{display:flex;width:100%;min-height:40px;padding:0 10px;align-items:center;color:#999;box-sizing:border-box;}

/*seletbox*/
.sel_box{position:relative;width:100%}
.sel_box select{display:none}
.select-selected:after{position:absolute;content:'';top:50%;right:12px;display:inline-block;width:14px;height:8px;background:url('../images/ico/ico_selet_arr.svg') no-repeat 50% 50% / 100% auto;transform:translateY(-50%);}
.select-selected.select-arrow-active:after{transform:translateY(-50%) rotate(180deg)}
.select-items div,
.select-selected {padding:12px 10px;border:1px solid transparent;cursor:pointer;user-select:none;}
.select-items div{min-height:38px;color:#999;font-size:14px;border:1px solid #E0E0E0;background:#fff;box-sizing:border-box;}
.select-items div + div{border-top:0 none;}
.select-items div:last-child{border-bottom:0 none}
.select-items div.same-as-selected{color:#222;background:#E6F4F2 url('../images/ico/ico_check.svg') no-repeat right 10px top 50% / 20px auto}
.select-selected{color:#999;font-size:16px;border:0 none;border-bottom:1px solid #E7E7E7}
.select-selected.select-arrow-active{border-color:#018975;}
.select-selected.has_value{border-color:#018975;color:#222}
.select-items{position: absolute;top: calc(100% + 1px);left: 0;right: 0;z-index:99;overflow-y:auto;max-height:50vh;border-top:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0}
.select-hide{display:none;}

/*reg_form*/
.reg_form{padding:40px 20px;}
.reg_form .inp_field + .inp_field{margin-top:28px}
.reg_form .inp_field .row{display:flex;gap:8px}
.reg_form .inp_box{position:relative;display:flex;height:40px;flex:1;align-items:center;margin-top:8px;}
.reg_form .inp_box .txt{font-size:16px;color:#222}
.reg_form .inp_box .btn_reset{position:absolute;right:10px;top:50%;display:inline-block;width:24px;height:24px;flex-shrink:0;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_reset.svg') no-repeat 50% 50% / 24px auto;transform:translateY(-50%)}
.reg_form label{font-size:14px;color:#222}
.reg_form label .lab_sub{font-size:14px;color:#999}
.reg_form .inp_txt{height:40px;margin-top:8px;/*font-size:16px;*/font-size:15px;color:#222;border-bottom:1px solid #E7E7E7}
.reg_form .inp_txt::placeholder{color:#999}
.reg_form .inp_txt:focus,
.reg_form .inp_txt:not(:placeholder-shown){border-color:#018975}
.reg_form .inp_txt:disabled{background:#F3F3F3;color:#999}
.reg_form .msg_error{display:block;margin-top:5px;font-size:12px;line-height:1.5;color:#ED394F}
.reg_form .btn_box{margin:40px 0}


.tag_list{display:flex;gap:8px;flex-wrap:wrap;margin-top:15px;}
.tag_list .tag_item{display:inline-flex;height:30px;padding:0 10px 0 8px;align-items:center;border-radius:4px;background:rgba(62, 102, 76, 0.1);font-size:13px}
.tag_list .btn_del{display:inline-block;width:8px;height:8px;margin-left:10px;text-indent:-9999px;background:url('../images/btn/btn_close.svg') no-repeat 50% 50% / 100% auto;}


ul.list_type1{font-size:16px;}
ul.list_type1 li{border-bottom:1px solid #E7E7E7}
ul.list_type1 li.active{background:#E6F4F2 url('../images/ico/ico_check.svg') no-repeat right 10px top 50% / 20px auto;}
ul.list_type1 li a{display:block;padding:15px 10px;height:100%}
ul.list_type2{border-top:1px solid #E7E7E7}
ul.list_type2 li{position:relative;padding:14px 0;border-bottom:1px solid #E7E7E7}
ul.list_type2 li .label{display:inline-block;padding:4px 12px;font-weight:700;background:#e0e0e0;border-radius:4px}
ul.list_type2 li .label.mark{background:#FFEEC0}
ul.list_type2 li .subject{padding:0 30px 0 14px;line-height:1.5;word-break:keep-all}
ul.list_type2 li .btn_del{position:absolute;right:10px;top:14px;display:inline-block;width:20px;height:20px;text-indent:-9999px;border:0 none;background:url('../images/btn/btn_close.svg') no-repeat 50% 50% / 16px auto;}
ul.list_type3{border-top:1px solid #E7E7E7}
ul.list_type3 li{position:relative;padding:14px 0;border-bottom:1px solid #E7E7E7}
ul.list_type3 li .subject{position:relative;padding:0 30px 0 36px;line-height:1.5;font-size:15px;word-break:keep-all}
ul.list_type3 li .subject:before{content:'';position:absolute;left:12px;top:3px;display:inline-block;width:0px;height:0px;margin-right:6px;border-style:solid;border-width:10px 0 10px 16px;border-color:transparent transparent transparent #F6AE0D;transform:rotate(0deg);}
ul.list_type3 li .btn_del{position:absolute;right:10px;top:16px;display:inline-block;width:20px;height:20px;text-indent:-9999px;border:0 none;background:url('../images/btn/btn_close.svg') no-repeat 50% 50% / 16px auto;}
.card_list .item{position:relative;padding:20px;background:#fff;border-radius:12px;box-sizing:border-box;}
.card_list .item > a:first-child{display:block;height:100%;-webkit-tap-highlight-color:transparent;}
.card_list:not(.swiper-wrapper) .item + .item{margin-top:24px;}
.card_list .top{position:relative;padding:0 0 15px 0;margin-bottom:15px;border-bottom:1px solid #E7E7E7}
.card_list .top.state{padding:0 0 15px 20px;}
.card_list .top.state:before{content:'';position:absolute;left:0;top:0;display:inline-block;width:6px;height:calc(100% - 16px);border-radius:3px;background:#eee}
.card_list .txt_num{display:block;/*margin-bottom:15px;*/font-size:18px;font-weight:700}
.card_list .subject{margin-bottom:5px;font-size:18px;line-height:1.44;font-weight:700;}

.top.red:before{background:var(--state-red-color) !important}
.top.red .txt_num{color:var(--state-red-color) !important}
.top.default:before{background:var(--state-default-color) !important}
.top.default .txt_num{color:var(--state-default-color) !important}
.top.end:before{background:var(--state-gray-color) !important}
.top.end .txt_num{color:var(--state-gray-color) !important}

.bg_state_default{background:var(--state-default-color) !important}
.bg_state_red{background:var(--state-red-color) !important}
.bg_state_end{background:var(--state-gray-color) !important}
.bg_state_selected{background:var(--state-ylw-color) !important}

.sub_dot_list{display:flex;align-items:center;}
.sub_dot_list li{font-size:12px;line-height:18px;color:#666;background:#fff;border-radius:12px;}
.sub_dot_list li + li{position:relative;padding-left:10px;}
.sub_dot_list li + li:before{content:'·';position:absolute;left:4px;top:50%;transform:translateY(-50%);font-size:12px;color:#666;}
.detail_row{display:flex}
.detail_row + .detail_row{margin-top:5px;}
.detail_row .tit{flex-shrink:0;margin-right:8px;font-size:16px;color:#999;line-height:1.4;font-weight:400}
.detail_row.min .tit{min-width:60px;font-size:14px}
.detail_row .desc{font-size:16px;color:#222;line-height:1.4}
.detail_col{display:flex;flex-direction:column}
.detail_col + .detail_col{margin-top:5px;}
.detail_col .tit{margin-bottom:8px;font-size:16px;color:#828282;line-height:1.4;font-weight:400}
.detail_col .desc{font-size:16px;color:#141414;line-height:1.4}

.project_view_top{position:relative;padding:80px 20px 25px;background:#018975;}
.project_view_top .txt_num{line-height:32px;color:rgba(255, 255, 255, .5);font-weight:700}
.project_view_top .subject{margin-top:15px;font-size:20px;color:#fff;line-height:1.45}
.project_view_top .date{margin:4px 0 24px;font-size:16px;color:#fff;line-height:1.45}
.project_view_top .btn_bookmark_white{right:0;top:0;}

.card_slide{position:relative;padding:40px 0;background:#F3F3F3}
.card_slide .tit_box{display:flex;padding:0 20px;margin-bottom:15px;justify-content:space-between}
/*.card_slide .swiper-pagination-fraction{position:absolute;left:auto;right:20px;top:40px;bottom:auto;display:inline-block;width:auto;}*/
.card_slide .swiper-pagination-fraction{position:relative;left:auto;right:auto;top:auto;bottom:auto;display:inline-block;width:auto;}

.row_summary{flex:1;padding:0 10px;}
.row_summary + .row_summary{border-left:1px solid rgba(255, 255, 255, .2)}
.row_summary .tit{margin-bottom:8px;font-size:16px;color:rgba(255, 255, 255, .5);line-height:1.4;font-weight:400}
.row_summary .desc{font-size:16px;color:#fff;line-height:1.4;letter-spacing:-.01em}

.txt_light_gr{font-size:16px;line-height:1.5;color:#666}

.btn_bookmark{position:absolute;right:20px;top:20px;z-index:1;display:inline-block;width:32px;height:32px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_bookmark.svg') no-repeat 50% 0 / 32px auto}
.btn_bookmark.active{background-position:50% 100%}
.btn_bookmark_white{position:absolute;right:20px;top:20px;z-index:1;display:inline-block;width:32px;height:32px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_bookmark_white.svg') no-repeat 50% 0 / 32px auto}
.btn_bookmark_white.active{background-position:50% 100%}
.btn_report{position:absolute;right:20px;top:20px;z-index:1;display:inline-block;width:24px;height:24px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_report.svg') no-repeat 50% 0 / 24px auto}

.btn_txt{display:inline-block;font-size:16px;color:#999}
.btn_txt.active{color:#009672;font-weight:700}
.btn_basic{display:flex;height:48px;padding:0 10px;align-items:center;justify-content:center;background:#F3F3F3;color:#F3F3F3;border-radius:4px;font-size:16px;box-sizing:border-box;}
.btn_basic.active{background:#222;color:#fff;}
.btn_add{display:block;width:100%;height:48px;border-radius:4px;background:#F3F3F3;color:#999;border:0 none;box-sizing:border-box;}
.btn_add span{display:inline-block;padding-left:28px;line-height:1.5;background:url('../images/ico/ico_plus.svg') no-repeat 0 50% / 12px auto}
.btn_add.active{border:1px solid #E7E7E7;background:#fff;}
.btn_add.active span{color:#222;background:url('../images/ico/ico_plus_active.svg') no-repeat 0 50% / 12px auto}
.btn_line{display:flex;height:48px;padding:0 10px;align-items:center;justify-content:center;background:#fff;color:#222;border-radius:4px;border:1px solid #222;font-size:16px;box-sizing:border-box;}

.btn_profile_change{display:inline-block;width:32px;height:32px;text-indent:-9999px;background:url('../images/ico/ico_profile_change.svg') no-repeat 50% 50% / 24px auto}
.btn_profile_setting{display:inline-block;width:32px;height:32px;text-indent:-9999px;background:url('../images/ico/ico_profile_setting.svg') no-repeat 50% 50% / 24px auto}

.profile_thumb{position:relative;display:flex;align-items:center;justify-content:center}
.profile_thumb.completed:before{content:'';position:absolute;left:10px;top:10px;display:block;width:calc(100% - 20px);height:6px;background:#018975;border-radius:3px;}
.profile_thumb.ing:before{content:'';position:absolute;left:10px;top:10px;display:block;width:calc(100% - 20px);height:6px;background:#F6AE0D;border-radius:3px;}
.profile_thumb img{display:block;width:100%;height:100%;object-fit:cover;}
.profile_thumb .btn_del{position:absolute;right:14px;top:14px;display:inline-block;width:24px;height:24px;border:0 none;text-indent:-9999px;background:url('../images/btn/btn_x_white.svg') no-repeat 50% 0 / 24px auto;}
.profile_add{display:block;height:100%;border:1px solid #E7E7E7;box-sizing:border-box;}
.profile_add label{display:flex;height:100%;padding:0 10px;align-items:center;justify-content:center;}
.profile_add .btn_upload{width:100%;padding-top:70px;font-size:14px;line-height:1.5;text-align:center;color:#000;word-break:keep-all;background:url('../images/ico/ico_plus.svg') no-repeat 50% 0 / 50px auto;}
.profile_add .btn_upload.not_txt{padding-top:30px;background-size:30px auto}
.profile_add input[type="file"]{display:none}

.profile_swiper{margin:15px 0 24px}
.profile_swiper .swiper-slide{}
.profile_swiper .profile_thumb{position:relative;height:235px}
.profile_swiper .profile_thumb label{/*position:absolute;left:10px;bottom:10px;color:#fff;*/}

.profile_swiper .profile_thumb label{position:absolute;left:0;top:0;display:flex;width:100%;height:100%;padding:10px;align-items:flex-end;color:#fff;border:4px solid transparent;box-sizing:border-box;}
.profile_swiper .profile_thumb input:checked + label{border-color:#018A76}
.profile_swiper .profile_thumb label:before{content:'';display:block;position:absolute;top:5px;right:5px;width:24px;height:24px;}
.profile_swiper .profile_thumb input:checked + label:before{background:url('../images/btn/btn_checkbox_active.svg') no-repeat 50% 50% / 24px auto;}


/* swiper fraction type */
.swiper_fraction{height:100%;}
.swiper_fraction .swiper-wrapper{padding-bottom:20px}
.swiper_fraction .swiper-slide{display:flex;height:auto;align-items:center;justify-content:center}
.swiper_fraction .swiper-pagination-fraction{bottom:0}

/*login*/
.login_wrap{padding:40px 20px;background:#F7F7F7}
.login_wrap .txt_large{margin-bottom:20px;font-size:30px;line-height:1.5;color:#141414;letter-spacing:-.01em}
.login_wrap .txt_mid{margin-bottom:10px;font-size:14px;line-height:1.5;color:#141414;letter-spacing:-.01em}
.login_wrap .txt_gray{font-size:14px;line-height:1.5;color:#999;letter-spacing:-.01em}
.login_wrap .type_list{display:flex;margin:40px 0 60px;gap:10px}
.login_wrap .type_list li{flex:1;}
.login_wrap .type_list li:first-child label{background:#fff url('../images/ico/ico_cast.svg') no-repeat 50% 20px}
.login_wrap .type_list li:nth-child(2) label{background:#fff url('../images/ico/ico_perform.svg') no-repeat 50% 20px}
.login_wrap .btn_box a{position:relative;display:flex;height:56px;padding:0 14px;border-radius:4px;color:#222;font-size:16px;justify-content:center;align-items:center;}
.login_wrap .btn_box a + a{margin-top:8px}
.login_wrap .btn_box a.btn_kakao{background:#FEE500}
.login_wrap .btn_box a.btn_google{background:#222;color:#fff}
.login_wrap .btn_box a:before{content:'';position:absolute;left:14px;top:50%;display:inline-block;width:24px;height:24px;margin-top:-12px;vertical-align:middle;}
.login_wrap .btn_box a.btn_kakao:before{background:url('../images/ico/ico_kakao.svg') no-repeat 50% 50%}
.login_wrap .btn_box a.btn_google:before{background:url('../images/ico/ico_google.svg') no-repeat 50% 50%}
.login_wrap .txt_agree{margin-top:20px;text-align:center;font-size:11px;letter-spacing:-.03em;line-height:1.45}
.login_wrap .txt_agree a{text-decoration:underline;}

.list_choice .tit{font-weight:500;font-size:24px;color:#222;word-break:break-all}
.list_choice input[type="radio"]{display:none}
.list_choice input[type="radio"] + label{display:flex;flex-direction:column;padding:90px 10px 20px;border-radius:12px;align-items:center;border:1px solid #E7E7E7;margin-top:10px;text-align:center;color:#999;font-size:13px;line-height:1.42;word-break:keep-all;letter-spacing:-.01em;background:#fff;}
.list_choice input[type="radio"]:checked + label{box-shadow:inset 0 0 0 1px #018975;border-color:#018975}

/*setting*/
.setting_list{margin:5px 20px}
.setting_list li{border-bottom:1px solid #E7E7E7}
.setting_list li a{display:block;padding:15px 20px;line-height:24px;}
.setting_list li a:before{content:'';display:inline-block;width:24px;height:24px;margin-right:10px;vertical-align:middle;background:url('../images/ico/ico_setting.svg') no-repeat}
.setting_list li.list2 a:before{background-position:0 calc(-1 * var(--gap-ico-setting))}
.setting_list li.list3 a:before{background-position:0 calc(-2 * var(--gap-ico-setting))}
.setting_list li.list4 a:before{background-position:0 calc(-3 * var(--gap-ico-setting))}
.setting_list li.list5 a:before{background-position:0 calc(-4 * var(--gap-ico-setting))}
.setting_list li.list6 a:before{background-position:0 calc(-5 * var(--gap-ico-setting))}
.setting_list li.list7 a:before{background-position:0 calc(-6 * var(--gap-ico-setting))}
.setting_list li.list8 a:before{background-position:0 calc(-7 * var(--gap-ico-setting))}

/*step_bar*/
.step_bar {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin:25px 0;
  }
  .step_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .step_item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #D8D8D8;
    width: 100%;
    top: 8px;
    left: -50%;
    z-index: 2;
  }
  
  .step_item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #D8D8D8;
    width: 100%;
    top: 8px;
    left: 50%;
    z-index: 2;
  }
  
  .step_item .tit{position:relative;padding-top:22px;font-size:12px;color:#999}
  .step_item .tit:before{
      content:'';position: absolute;left:50%;top:0;z-index: 5;display: flex;justify-content: center;align-items: center;
    width:16px;
    height:16px;
    border-radius: 50%;
    background: #D8D8D8;
    margin-bottom: 6px;
    transform:translateX(-50%)
  }
  .step_item:after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #D8D8D8;
    width: 100%;
    top:8px;
    left: 50%;
    z-index: 3;
  }
  .step_item .tit:after{content:'';position: absolute;left:50%;top:4px;z-index: 5;display: flex;justify-content: center;align-items: center;width:8px;height:8px;background:#fff;border-radius:50%;transform:translateX(-50%)}
  .step_item.active:after{border-color:#018975}
  .step_item.active .tit{color:#018975;font-weight:700}
  .step_item.active .tit:before{background:#fff;border:2px solid #018975;box-sizing:border-box}
  .step_item.active .tit:after{background:#018975}
  
  .step_item.completed:after{border-color:#018975}
  .step_item.completed .tit{color:#018975;font-weight:700}
  .step_item.completed .tit:before{display:none}
  .step_item.completed .tit:after{background:#018975}
  
  .step_item.fail .tit{color:#222;font-weight:700}
  .step_item.fail .tit:before{background:#fff;border:2px solid #222;box-sizing:border-box}
  .step_item.fail .tit:after{background:#222}
  
  
  .step_item:first-child::before {
    content: none;
  }
  .step_item:last-child::after {content: none;}

/*error*/
.error{display:flex;height:100vh;align-items:center;flex-direction:column;justify-content:center;}
.txt_error{padding-top:140px;margin-bottom:8px;font-size:24px;font-weight:500;background:url('../images/ico/ico_wifi_error.svg') no-repeat 50% 0}

.list_none{display:flex;padding-top:125px;align-items:center;flex-direction:column;justify-content:center;}
.list_none .tit{padding-top:110px;margin-bottom:8px;font-size:20px;font-weight:500;background:url('../images/ico/ico_scene.svg') no-repeat 50% 0}
.list_none .desc{font-size:16px;color:#999;text-align:center}
